# Shared CI templates for rmcp-openapi

# sccache configuration for build caching
.sccache-rust:
  variables:
    RUSTC_WRAPPER: "sccache"
    SCCACHE_LOG: "warn"
  before_script:
    - sccache --version || true

# Docker-in-Docker variables (reusable anchor)
.docker-in-docker-variables: &docker-in-docker-variables
  DOCKER_TLS_CERTDIR: "/certs"

# Docker-in-Docker template
.docker-in-docker:
  image: docker:29.2.1-dind@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  services:
    - docker:29.2.1-dind@sha256:8bcbad4b45f0bff9d3e809d85a7ac589390f0be8acbc526850c998c35c1243fd
  variables:
    <<: *docker-in-docker-variables
  before_script:
    - docker info
